<apex:page controller="CountryReportController" action="{!download}" readOnly="true"
	contentType="application/vnd.ms-excel#country_report_{!currencyName}_{!period}.xls">

<style type="text/css">
    .report-setup { padding:10px; margin-bottom:10px; background-color:#e0f0ff; border-radius:10px }
    
    TABLE { border:1px solid #000000; border-collapse:collapse }
    TH { padding:5px; background-color:#c0e0ff; font-weight:bold; text-align:center; border:1px solid #000000; border-width:0 0 1px 0 }
    TD { min-width:80px; padding:5px; border:0 }
    TD.key { font-weight:bold }
    TD.num { text-align:right }
</style>

<table class="report-table">
        <!-- TABLE HEADER -->
        <thead>
            <tr>
                <th>Period</th>
                <apex:repeat value="{!columnLabels}" var="label">
                	<apex:outputText rendered="{!showColumns[label]}" escape="false"><th>{!label}</th></apex:outputText>
                </apex:repeat>
            </tr>
        </thead>
        
    <!-- TABLE BODY -->
    <apex:outputText value="{!tableHtml}" escape="false" />
</table>
</apex:page>