<apex:page controller="InvoiceGenerator" action="{!onStart}">
	
	<apex:form >
		<apex:pagemessages />
	<apex:pageblock title="Please fill out the following fields:" id="pb">
		<apex:pageblocksection id="ps1" columns="2" >
			<apex:inputfield value="{!myQuote.Invoice_Type__c}"/>
			<apex:commandbutton value="Change Type" action="{!updateAction}" />
		</apex:pageblocksection>
		<!-- <apex:pageblocksection id="ps2" columns="2" rendered="{!myQuote.Invoice_Type__c='American'}"> -->
		<apex:pageblocksection id="ps2" columns="2" rendered="{!myQuote.Invoice_Type__c='LLC'}">
			
			<!-- 	
			<apex:inputfield value="{!myInvoice.Invoice_No__c}" />
			<apex:inputfield value="{!myInvoice.Invoice_Date__c}" />
			<apex:inputfield value="{!myInvoice.PO_No__c}" />
			 -->
			<apex:inputfield value="{!myQuote.Invoice_No__c}" />
			<apex:inputfield value="{!myQuote.Invoice_Date__c}"/>
			<apex:inputfield value="{!myQuote.PO_No__c}"/>
		</apex:pageblocksection>
		<apex:pageblocksection id="ps3" columns="2" >
			<apex:commandbutton value="Save" action="{!action}" rendered="{!myQuote.Invoice_Type__c!=null}" />
			<apex:commandbutton value="Return" onclick="window.location.href='/{!myQuote.Id}'" rerender="blank" immediate="true"/>
		</apex:pageblocksection>
	</apex:pageblock>
</apex:form>
</apex:page>