<apex:page controller="LeadController" showheader="false" >
	<apex:pageblock mode="maindetail" rendered="{!leadList.size != 0}">
		<apex:pageblocktable value="{!leadList}" var="lead" >
			<apex:column >
				<apex:facet name="header">
					Name
				</apex:facet>
	            <a href="/{!lead.Id}" target="_top">{!lead.Name}</a>
			</apex:column>
			<apex:column >
				<apex:facet name="header">
					Company
				</apex:facet>
	            <apex:outputfield value="{!lead.Company}" />
			</apex:column>
			<apex:column >
				<apex:facet name="header">
					Created Date
				</apex:facet>
	            <apex:outputfield value="{!lead.CreatedDate}" />
			</apex:column>
			<apex:column >
				<apex:facet name="header">
					Unread by Owner
				</apex:facet>
	            <apex:outputfield value="{!lead.isUnreadByOwner}" />
			</apex:column>
		</apex:pageblocktable>
	</apex:pageblock>
	
	<apex:pageblock mode="maindetail" rendered="{!leadList.size == 0}">
		No new (unread) leads.
	</apex:pageblock>
</apex:page>