<apex:page controller="OpportunityLineMultiEdit" title="Opportunity: {!Opportunity.Name}">
    <!-- 
    {!oppId} <br/>
    {!opportunityLineItemList}
    -->
    
    <apex:form >
        <apex:pagemessages />
        
        <div class="bPageTitle">
            <div class="ptBody">
                <div class="content">
                    <img src="/s.gif" alt="Opportunity" class="pageTitleIcon" title="Opportunity" />
                    <h1 class="pageType">Opportunity<span class="titleSeparatingColon">:</span></h1>
                    <h2 class="pageDescription">{!opportunity.Name}</h2>
                    
                    <div class="blank">&nbsp;</div>
                </div>
            </div>
        </div>
            
        <apex:pageblock mode="edit" title="Edit all opportunity line items">
            <apex:pageblockTable value="{!opportunityLineItemList}" var="olilist" id="oliTable">
                <!-- 
                <apex:column style="width: 25px;">
                    <apex:facet name="header">
                        <apex:inputCheckbox onclick="checkAll(this,'checkedone')" title="Összes kijelölése"/>
                    </apex:facet>
                    <apex:inputCheckbox value="{!accl.kivalasztott}" id="checkedone" title="Kijelölés"/>
                </apex:column>
                -->
                <apex:column >
                    <apex:facet name="header">Opportunity Line Item</apex:facet>
                    <a href="/{!olilist.Id}" target="_blank">{!olilist.PricebookEntry.ProductCode}</a>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">System Message</apex:facet>
                    <apex:outputtext value="{!olilist.System_Message__c}" rendered="{!olilist.System_Message__c == '-'}"/>
                    <apex:outputtext value="{!olilist.System_Message__c}" style="color: red;" rendered="{!olilist.System_Message__c != '-'}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">User Number</apex:facet>
                    <apex:inputfield value="{!olilist.User_Limit__c}" required="true"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">License Type</apex:facet>
                    <apex:inputfield value="{!olilist.License_type__c}" required="true"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">List Price</apex:facet>
                    <!-- 
                    <apex:outputtext value="{!olilist.UnitPrice} {!opportunity.CurrencyISOCode}" />
                    -->
                    <apex:outputtext value="{!olilist.Original_Price__c} {!opportunity.CurrencyISOCode}" />
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Discount (%)</apex:facet>
                    <apex:inputfield value="{!olilist.Discount}" />
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Total Price</apex:facet>
                    <apex:outputText value="{0, number, ###,###,###,##0.00}">
                        <apex:param value="{!olilist.TotalPrice}"/>
                    </apex:outputText>
                    {!opportunity.CurrencyISOCode}
                    <!-- 
                    <apex:outputtext value="{!olilist.TotalPrice} {!opportunity.CurrencyISOCode}" />
                    -->
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Target Price</apex:facet>
                    <apex:inputfield value="{!olilist.Target_Price__c}" />
                </apex:column>
            </apex:pageblockTable>
            
            <apex:pageblockbuttons >
                <!--
                <apex:commandbutton value="Save" action="{!save}"/>
                <apex:commandbutton value="Quick Save" action="{!quickSave}"/>
                <apex:commandbutton value="Cancel" action="{!cancel}" immediate="true"/>
                -->
                
                <apex:commandbutton value="Save" action="{!quickSave}"/>
                <apex:commandbutton value="Back to Opportunity" action="{!cancel}" immediate="true"/>
            </apex:pageblockbuttons>
            
            <br/>
            <br/>
            <strong>
                <!--
                Opportunity total price: {!opportunity.T_Total_Price_Rollup__c} {!opportunity.CurrencyISOCode}
                -->
                Opportunity total price: 
                <apex:outputText value="{0, number, ###,###,###,##0.00}">
                    <apex:param value="{!opportunity.T_Total_Price_Rollup__c}"/>
                </apex:outputText> {!opportunity.CurrencyISOCode}        
            </strong>
        </apex:pageblock>
    </apex:form>
</apex:page>