<!-- 
<apex:page lightningStylesheets="true" controller="QuoteLineMultiEdit" title="Quote: {!Quote.Name}">
     -->
    <apex:page lightningStylesheets="true" standardcontroller="Quote" extensions="QuoteLineMultiEdit" title="Quote: {!Quote.Name}">
    <!-- 
    {!oppId} <br/>
    {!QuoteLineItemList}
    -->
    
    <apex:form >
        <apex:pagemessages />
        
        <div class="bPageTitle">
            <div class="ptBody">
                <div class="content">
                    <img src="/s.gif" alt="Quote" class="pageTitleIcon" title="Quote" />
                    <h1 class="pageType">Quote<span class="titleSeparatingColon">:</span></h1>
                    <h2 class="pageDescription">{!Quote.Name}</h2>
                    
                    <div class="blank">&nbsp;</div>
                </div>
            </div>
        </div>
            
        <apex:pageblock mode="edit" title="Edit all Quote line items">
            <apex:pageblockTable value="{!quoteLineItemList}" var="qlilist" id="oliTable">
                <!-- 
                <apex:column style="width: 25px;">
                    <apex:facet name="header">
                        <apex:inputCheckbox onclick="checkAll(this,'checkedone')" title="Összes kijelölése"/>
                    </apex:facet>
                    <apex:inputCheckbox value="{!accl.kivalasztott}" id="checkedone" title="Kijelölés"/>
                </apex:column>
                -->
                <apex:column >
                    <apex:facet name="header">Quote Line Item</apex:facet>
                    <a href="/{!qlilist.Id}" target="_blank">{!qlilist.PricebookEntry.ProductCode}</a>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">System Message</apex:facet>
                    <apex:outputtext value="{!qlilist.System_Message__c}" rendered="{!qlilist.System_Message__c == '-'}"/>
                    <apex:outputtext value="{!qlilist.System_Message__c}" style="color: red;" rendered="{!qlilist.System_Message__c != '-'}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">User Number</apex:facet>
                    <apex:inputfield value="{!qlilist.User_Limit__c}" required="true" style="width:85px"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">License Type</apex:facet>
                    <apex:inputfield value="{!qlilist.License_type__c}" required="true"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">List Price</apex:facet>
                    <!-- 
                    <apex:outputtext value="{!qlilist.UnitPrice} {!Quote.CurrencyISOCode}" />
                    -->
                    <!-- 
                    <apex:outputtext value="{!qlilist.Original_Price__c} {!Quote.CurrencyISOCode}" />
                    -->
                    <apex:outputText value="{0, number, ###,###,###,##0.00}">
                        <apex:param value="{!qlilist.Original_Price__c}"/> 
                    </apex:outputText>
                    {!qlilist.CurrencyISOCode}
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Discount (%)</apex:facet>
                    <apex:inputfield value="{!qlilist.Discount}" style="width:85px"/>
                </apex:column>
                <apex:column >
                    <!--
                    <apex:facet name="header">Total Price</apex:facet >
                    <apex:outputtext value="{!qlilist.TotalPrice} {!Quote.CurrencyISOCode}" />
                    -->
                    <apex:facet name="header">Total Price</apex:facet>
                    <apex:outputText value="{0, number, ###,###,###,##0.00}">
                        <apex:param value="{!qlilist.TotalPrice}"/> 
                    </apex:outputText>
                    {!qlilist.CurrencyISOCode}
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Target Price</apex:facet>
                    <apex:inputfield value="{!qlilist.Target_Price__c}" />
                </apex:column>
                <apex:column >
                    <apex:facet name="header">End User (Financial Information)</apex:facet>
                    <apex:inputfield value="{!qlilist.End_User__c}" />
                </apex:column>
                <!--<apex:column > 
                    <apex:facet name="header">Most probable</apex:facet>                   
                    <apex:inputCheckbox value="{!qlilist.Most_probable__c}" />
                </apex:column>-->
				<apex:column >
                    <apex:facet name="header">Consulting team</apex:facet>
                    <apex:inputfield value="{!qlilist.Consulting_team__c}" />
                </apex:column>
            </apex:pageblockTable>
            
            <apex:pageblockbuttons >
                <!--
                <apex:commandbutton value="Save" action="{!save}"/>
                <apex:commandbutton value="Quick Save" action="{!quickSave}"/>
                <apex:commandbutton value="Cancel" action="{!cancel}" immediate="true"/>
                -->
                
                <apex:commandbutton value="Save" action="{!quickSave}"/>
                <apex:commandbutton value="Cancel" action="{!cancel}" immediate="true"/>
            </apex:pageblockbuttons>
            
            <br/>
            <br/>

            <strong>
            <!--
            Quote total price: {!Quote.Grand_Total_rounded__c} {!Quote.CurrencyISOCode}
            -->
            Quote total price: 
            <apex:outputText value="{0, number, ###,###,###,##0.00}">
                <apex:param value="{!Quote.Grand_Total_wTax__c}"/>
            </apex:outputText> {!Quote.CurrencyISOCode} 
            </strong>
            
        </apex:pageblock>
    </apex:form>
</apex:page>